anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
anon_upload_enable= {{ anon_upload_enable }}
xferlog_file={{ xferlog_file }}
no_anon_password={{ no_anon_password}}
anon_root={{ anon_root }}
anon_mkdir_write_enable={{ anon_mkdir_write_enable }}
chown_uploadds={{ chown_uploadds }}
chown_username={{ chown_username }}
